@font-face {
  font-family: 'Pragmatica';   /*Can be any text*/
  src: local('Pragmatica'),
    url("./fonts/PragmaticaExtendedExtraLight.otf") format("opentype");
}

body,html {
  margin: 0;
  font-family: 'Pragmatica' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

